%% -*- erlang -*-
%% Dependencies ================================================================
{deps, [{getopt, "",
        	{git, "https://github.com/jcomellas/getopt.git",
          		{branch, "master"}}},
        {depsolver, "",
        	{git, "https://github.com/opscode/depsolver.git",
        		{branch, "master"}}}]}.

%% Compiler Options ============================================================
{erl_opts,
    [debug_info, warnings_as_errors, inline]}.

%% Misc =======================================================================
{escript_incl_apps,
	[getopt, depsolver]}.